<!DOCTYPE html>
<html lang="en">
   
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>scoreo</title>
   
</head>

<body>



      
    <p class = "navigation">
        
            <a href  = "/" class = "nav_text"> Github</a>
            <!-- <p class = "title_text">
                sqoreo
            </p> -->
            <img src="{% static 'logo/sq.png' %}" alt="Logo" class = 'image_pos'>

    </p>
    <!-- <div class = "title_grade">
        <p class = "title_text">
            scoreo
        </p>

        <img src="{% static 'logo/sq.png' %}" alt="Logo" class = 'image_pos'>
    </div> -->
    
    <div id="reactEntry">
        Loading ...
    </div>
      <!-- Load JavaScript -->
    <script src="{% static 'js/bundle.js' %}"></script>
   
</body>

</html>